@font-face {
    font-family: MTD-Ecstasy-TTW;
    src: url(Font/MTD-Ecstasy-TTW.otf);
}

@font-face {
    font-family: LNTH-aAnnyeongHaseyo;
    src: url(Font/0185-LNTH-aAnnyeongHaseyo.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #111222;
    background-image: url(Images/bg_sec1.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: black;
}

/* .sec-01 {
    background-image: url(Images/bg_sec1.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-family: LNTH-aAnnyeongHaseyo;
    font-size: 4em;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.7);
}

.sec-01 .content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-02 .content {
    position: relative;
    /* width: 1150px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-04 .content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .image-logo {
    position: relative;
    margin-top: 20px;
    width: 750px;
    height: 750px;
    overflow: hidden;
    border-radius: 10px;
}

.content .image-logo img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
} */

.content .image {
    margin-top: 100px;
    position: relative;
    width: 1000px;
    height: 1415px;
    overflow: hidden;
}

.content .image img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box {
    z-index: 222;
    background: rgba(11, 4, 4, 0.035);
    backdrop-filter: blur(20px);
    padding: 50px;  
    max-width: 1200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    transform: translate(-50px, 50px);
}

/* .content .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
} */

.content .text-box p {
    font-family: LNTH-aAnnyeongHaseyo;
    font-size: 1.5em;
    font-weight: 500;
    float: left;
    margin-left: 50px;
    white-space: pre-line;
}

/* .media-icons {
    margin-top: 120px;
}

.media-icons a{
    color: #fff;
    font-size: 2em;
    margin: 60px;
} */

.section-title {
    font-size: 3em;
    margin-bottom: 50px;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info {
    z-index: 222;
    background: rgba(11, 4, 4, 0.252);
    backdrop-filter: blur(30px);
    padding: 50px;   
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    transform: translate(-50px, 50px);
    /* width: 500px; */
    text-align: center;
    margin-left: 100px;
}

.info p {
    font-size: 1.5em;
    font-weight: 500px;
}

.media-info {
    width: 400px;
    margin-left: 50px;
}

.media-info li {
    list-style: none;
    font-size: 1.4em;
}

.media-info li a {
    color: black;
    text-decoration: none;
}

.media-info li:nth-child(1) {
    float: left;
    text-align: center;
}

.media-info li:nth-child(2) {
    width: 200px;
    float: right;
    text-align: center;
}

/* .media-info li:not(:last-child) {
    margin-bottom: 50px;
}

.media-info li:nth-child(1), .media-info li:nth-child(5) {
    padding-left: 100px;
} 

.media-info li:nth-child(2), .media-info li:nth-child(4) {
    padding-left: 50px;
}  */

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #50A7FF;
    position: relative;
    flex: 1;
    max-width: 500px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
}

.card img {
    height: 350px;
    width: 300px;
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    object-fit: cover;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.card:hover img {
    opacity: 1;
}

.card .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.card:hover .details {
    height: 100%;
}

.card .details h4 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
}

.card:hover .details h4 {
    transform: translateY(-30px);
}

.card .details p {
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.card:hover .details p {
    opacity: 1;
    transform: translateY(-40px);
}

@media (max-width: 1080px) {
    .image {
        flex: 100%;
        max-width: 480px;
    }
}

@media (max-width: 400px) {
    .image .details p {
        font-size: 16px;
    }
}
